@model IEnumerable<MahmoudClinic.Models.Gallery>

@{ Layout = null; }

<div class="Gallery">
    <h4>Before and after</h4>
    <div class="row" style="padding:0px; margin:0px;">
        @foreach (var item in Model)
        {
            <div class="col-lg-3">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="~/Images/GalleryImages/@item.BeforePicURL" class="GalleryImage"/>
                        </div>
                        <div class="flip-box-back">
                            <img src="~/Images/GalleryImages/@item.AfterPicURL" class="GalleryImage"/>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script>
    //function ChangeSource(ElementID, AfterImage)
    //{
    //    document.getElementById(ElementID).src = '../Images/GalleryImages/' + AfterImage;
    //}
    //function ChangeSource2(ElementID, BeforeImage) {
    //    document.getElementById(ElementID).src = '../Images/GalleryImages/' + BeforeImage;
    //}
</script>